<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>マイページ | My Portfolio</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <link rel="stylesheet" th:href="@{/css/mypage.css}">
</head>
<body>
    <header class="header">
        <div class="header-container">
            <div class="header-logo">My Portfolio</div>
            <form th:action="@{/logout}" method="post">
                <button type="submit" class="logout-header-btn">ログアウト</button>
            </form>
        </div>
    </header>

    <main class="main-wrapper">
        
        <section class="profile-section">
            <div class="avatar-container">
                <div class="avatar-image-placeholder">
                    </div>
                <p class="profile-user-name" th:text="${username}"></p>
            </div>

           <div class="intro-container">
                <h2 class="intro-title">自己紹介</h2>
                <div class="intro-text-box">
                    </div>
                <button type="button" class="profile-edit-btn">自己紹介を編集する</button>
            </div>
        </section>
    </main>

   <footer class="footer">
        <div class="footer-container">
            <p>
                portfolio site
                <span class="login-name" th:text="${username}"></span>
            </p>
        </div>
    </footer>
</body>
</html>
