<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>マイページ | My Portfolio</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/signup.css}">
</head>
<body>
    <header class="header">
        <div class="header-container">
            <div class="header-logo">My Portfolio</div>
            <form th:action="@{/logout}" method="post">
                <button type="submit" class="login-header-btn">ログアウト</button>
            </form>
        </div>
    </header>

    <main class="signup-container">
        <h2>マイページ</h2>
        <p>ログインに成功しました！ようこそ会員さん！</p>
    </main>
    <footer class="footer">
        <div class="footer-container">
            <p>
                portfolio site
                <span class="login-name" th:text="${username}"></span>
            </p>
        </div>
    </footer>
</body>
</html>
