<tbody>
    <tr>
        <td><span class="item-name">Ruby</span></td>
        <td>
            <div class="input-container">
                <input type="number" value="40" class="input-time">
            </div>
        </td>
        <td class="button-group">
            <button class="btn-save">学習時間を保存する</button>
            <button class="btn-delete">削除する</button>
        </td>
    </tr>
    <tr>
        <td><span class="item-name">Rails</span></td>
        <td>
            <div class="input-container">
                <input type="number" value="40" class="input-time">
            </div>
        </td>
        <td class="button-group">
            <button class="btn-save">学習時間を保存する</button>
            <button class="btn-delete">削除する</button>
        </td>
    </tr>
    <tr>
        <td><span class="item-name">MySQL</span></td>
        <td>
            <div class="input-container">
                <input type="number" value="40" class="input-time">
            </div>
        </td>
        <td class="button-group">
            <button class="btn-save">学習時間を保存する</button>
            <button class="btn-delete">削除する</button>
        </td>
    </tr>
</tbody>
