<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>項目追加 | My Portfolio</title>
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <link rel="stylesheet" th:href="@{/css/skill-new.css}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
</head>
<body>
    <header class="header">
        <div class="header-container">
            <h1 class="header-logo">My Portfolio</h1>
            <button class="logout-header-btn">ログアウト</button>
        </div>
    </header>

    <main class="main-wrapper">
        </main>

    <footer class="footer">
        <p class="footer-text">portfolio site</p>
    </footer>
</body>
</html>
